@charset "utf-8";
/* CSS Document */
$assetPath: "../";

//font
@import "fonts";
//variables
@import "variables";
//media
@import "media_query";
//mixing
@import "mixins";
//reset
@import "reset";
//common
@import "common"; 
//common
@import "ie"; 

/* mobile menu */
.mobile-menu {
  cursor: pointer;
  float: right;
  height: 32px;
  width: 32px;
  @include transition(left .6s ease);
  &:hover .nav-icon, &:hover .nav-icon::before, &:hover .nav-icon::after {
    background: #5D5D5D;
  }
  &.active {
    &:hover .nav-icon::before, &:hover .nav-icon::after {
      background: #5D5D5D;
    }
    .nav-icon {
      @include transition(background .6s ease);
      background: transparent;
      &::before, &::after {
        top: 0;
        @include transition(transform .3s ease);
      }
      &::before {
        @include transform(rotate3d(0, 0, 1, 45deg));
      }
      &::after {
        @include transform(rotate3d(0, 0, 1, -45deg));
      }
    }
  }
}

.nav-icon, .nav-icon::before, .nav-icon::after {
  background: #B9814D;
  display: inline-block;
  width: 100%;
  height: 4px;
  @include transition(all .3s ease);
}

.nav-icon {
  position: relative;
  &::before, &::after {
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 50% 50% 0;
    -webkit-transform-origin: 50% 50% 0;
    -moz-transform-origin: 50% 50% 0;
  }
  &::before {
    top: 10px;
  }
  &::after {
    top: -10px;
  }
}