/* scss variables */

$body-font: 'Montserrat', sans-serif;
$body-weight-light: 300;

$body-font-size: 15px;
$body-font-size-small: 10px;
$body-font-size-medium: 12px;

$body-font-color: #363636;

$transitionEffect: cubic-bezier(.6,.04,.12,.96);